.addingPage__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 50px 0;

}

.addingPage__form input {
    height: 50px;
    width: 300px;
    font-size: 30px;
}
.addingPage__form button {

    height: 55px;
    width: 200px;
    cursor: pointer;

}

.dictionary{
    background-color: gray;
    width: 700px;
    margin: 0  auto;

}
.dictionary__item{
    padding: 0 15px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    border: 1px solid black;
    background-color: #fff;
    margin-left: -15px;
    flood-color: blueviolet;
}
.rus{
    font-size: 20px;
    color: midnightblue;
    font-weight: 600;
}
.eng{
    font-size: 20px;
    color: green;
    font-weight: 600;
}

.game{
    width: 100%;
    height: 600px;
    padding: 15px;
    background-color: deeppink;
    position: relative;
}
h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 60px;
}
.game p{
    width: 200px;
    height: 50px;
    text-transform: uppercase;
    background-color: black;
    font-size: 20px;
    color: white;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}
.game__container{

    display: flex;
    justify-content: center;
    gap: 50px;
}

.game p:hover{
    text-decoration: underline;
}

.game__header{
    display: flex;
    gap: 100px;
}

.game_input__modal{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    background-color: rgba(000,000,000,0.9);
}
.game_input__container{
    width: 400px;
    height: 150px;
    position: absolute;
    top: 40%;
    right: 40%;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.results{
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    padding: 5px 10px ;
}
.results p{
    color: blue;
    font-weight: 500;
}
.results span {
    color: black;
    font-weight: 600;
    margin-right: 10px;
}
.withoutResults{
    text-align: center;
    font-size: 30px;
    color: cornflowerblue;
}