.dictionary__adding{
    text-align: right;
}

.dictionary__adding button{
    background-color: #7D82B8;
    padding: 10px 20px;
    color: #ffff;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

.dictionary__item{
    display: flex;
    align-items: center;
    background-color: #613F75;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 10px;
}

.dictionary_item__text{
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    margin: 0;
    text-align: center;
    width: 100%;
}

.addingPage__form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 260px);
    padding: 50px 0;
}

.addingPage__form label{
    padding-left: 15px;
    margin-bottom: 5px;
    color: #7D82B8;
}

.addingPage__form input {
    height: 50px;
    width: calc(100% - 20px);
    font-size: 25px;
    border: none;
    border-radius: 10px;
    padding: 0 10px;
    margin-bottom: 20px;
}

.addingPage__form button {
    margin-top: 23px;
    height: 55px;
    width: 100%;
    border: none;
    border-radius: 10px;
    color: #613F75;
    cursor: pointer;
}

.addingPage__form button:hover{
    box-shadow: 1px 2px 5px #613F75;
}

.addingPage__form button:disabled{
    color: white;
    box-shadow: none;
    cursor: default;
}

.addingPage__success{
    text-align: center;
    color: darkgreen;
    font-weight: 600;
}

.addingPage__error{
    text-align: center;
    color: #EF798A;
    font-weight: 600;
}

.addingPage__error_word{
    text-transform: uppercase;
    color: #613F75;
    font-size: 20px;
    font-weight: 600;
}

.game__modal{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
    background-color: #7D82B8;
    border-radius: 30px;
    transition: opacity 400ms ease-in;
}
.game_modal__form{
    width: 100%;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #E5C3D1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.game_modal__title{
    text-transform: uppercase;
    color: #613F75;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 20px;
}
.game_modal__form input{
    height: 50px;
    width: calc(100% - 20px);
    font-size: 25px;
    border: none;
    border-radius: 10px;
    padding: 0 10px;
    margin-bottom: 20px;
    text-align: center;
    color: #613F75;
}
.game_modal__form button:hover{
    box-shadow: 1px 2px 5px #613F75;
}
.game_modal__form button {
    text-transform: uppercase;
    height: 55px;
    width: 100%;
    border: 1px solid #ffffff;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    font-size: 25px;
    background-color: #EF798A;
}
.game_modal__form button:disabled{
    opacity: 0.4;
    cursor: default;
}
.game__header{
    display: flex;
    justify-content: space-between;
    color: #613F75;
    font-size: 20px;
}
.game__container{
    display: flex;
    flex-direction: column;
    height: 100%;


}
.game{
    margin: 30px 0 0 0;
    max-width: 100%;

    min-height: 550px;
    padding: 10px 25px;
    background-color: #EF798A;
    position: relative;
    border-radius: 30px;
}
.game__question{
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 60px;
    color: #E5C3D1;
    margin: 60px 0;

}
.game__answers{
    display: flex;
    flex-direction: column;

}
.game__question_longName{
    font-size: 50px;
    color: #E5C3D1;
    font-weight: 200;
    text-align: center;
}
.game_answers__item{
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #613F75;
    color: #E5C3D1;
    margin: 0 0 25px 0;
    width: 100%;
    padding: 10px 0;
    height: 30px;
    font-size: 18px;
    text-transform: uppercase;
}
.game_answers__item:hover {
    box-shadow: 1px 1px 5px #ffffff;
}

.resultsPage{
    margin-top: 30px;
    width: 100%;
    min-height: calc(100vh - 190px);
}

.resultsPage__info{
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: #fff;
    margin-bottom: 10px;
    color: #613F75;
}
.resultsPage__info p{
    padding: 0;
    margin: 0 0 5px 0;
}

.resultsPage__info ol{
    display: inline;
}

.resultsPage__info li{
    display: inline;
    color:#EF798A;
    font-weight: 600;
}
.results_info__option{
    margin-right: 10px;
    font-weight: 500;
    color: #7D82B8;
}
.results__link{
    color: #613F75;
}
.results__link:hover{
    text-decoration: underline;
}

.withoutResults{
    padding-top: 50px;
    text-align: center;
    font-size: 30px;
    color: #7D82B8;
}

@media (max-width: 700px) {
    .dictionary__item{
        flex-wrap: wrap;
    }
    }
@media(max-width: 580px){
    .game__question_longName{
        font-size: 30px;
    }
}
@media (max-width: 480px) {
    .game__question_longName{
        font-size: 40px;
    }
}
@media (max-width: 450px){
    .game__header{
        flex-direction: column;
    }
    .game__header p{
       margin: 15px 0 10px;
    }
    .game__question{
        font-size: 40px;
    }
}

    @media (max-width: 400px) {
        .dictionary__adding {
            padding-top: 30px;
            display: flex;
            flex-direction: column;
        }

        .dictionary__adding button {
            margin-top: 15px;
            width: 100%;
        }
    }
        @media (max-width: 340px) {
            .dictionary_item__text{
                font-size: 18px;
            }
            .dictionary__adding{
                font-size: 15px;
            }
        }










